<div class="modal align-left" id="new-invite-modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create Invitation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= form_for :invite, url: '/invites' , html: { class: 'form-horizontal'} do%>
            <div class="form-group">
              <label for="attendee" class="col-sm-2 control-label">Select Attendee:</label>
              <div class="col-sm-10">
                <select name="invite[attendee_id]" class="custom-select" id="inputGroupSelect01">
                    <option selected>Choose...</option>
                    <% User.all.each do |user| %>
                      <% if user != current_user %> 
                        <option value="<%= user.id %>"><%= user.username %></option>
                      <% end %>
                    <% end %>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="inputQuestion" class="col-sm-2 control-label">Select Event</label>
              <div class="col-sm-10">
                <select  name="invite[attended_event_id]" class="custom-select" id="inputGroupSelect01">
                <option selected>Choose...</option>
                <% current_user.events.each do |event| %> 
                    <option value="<%= event.id %>"><%= event.name %></option>
                <% end %>
                </select>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Invite</button>
            </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>