<div class="container mt-5">    
    <div class="center">
        <h2><i class="fas fa-user"></i> My Hosted events:</h2>
        <% if current_user.events.count == 0 %>
            <h4>Currently hosting no events</h4>
        <% else %>
            <% current_user.events.each do |event| %>
                <ul class="list-group">
                    <li class="list-group-item bg-gold shadow-lg mb-5 rounded"><h2> <%= event.name%></h2>
                        <%= link_to 'View Event', event_path(event) , class: "primary-font-color btn btn-dark"%>
                        <button type="button" class="primary-font-color btn btn-dark" data-toggle="modal" data-target="#new-invite-modal" >Invite</button>
                        <%= render '/invites/invite-form'%>
                    </li>
                </ul>
            <% end %>
        <% end %>


        <h2><i class="fas fa-calendar-check text-success"></i> My Upcoming events:</h2>
        <% if current_user.events.count == 0 %>
            <h4>There are no upcoming events</h4>
        <% else %>
            <% @upcoming.each do |event| %>
                <ul class="list-group">
                    <li class="list-group-item bg-gold shadow-lg mb-5 rounded"><h2> <%= event.name%></h2>
                        <%= link_to 'View Event', event_path(event) , class: "primary-font-color btn btn-dark"%>
                    </li>
                </ul>
            <% end %>
        <% end %>

        <h2 class="mt-3"><i class="fas fa-calendar-times text-danger"></i> My Previous events:</h2>
        <% if current_user.events.count == 0 %>
            <h4>You have never attended an event. Friendly suggestion: spice up your social life.</h4>
        <% else %>
            <% @previous.each do |event| %>
                <ul class="list-group">
                    <li class="list-group-item bg-gold shadow-lg mb-5 rounded"><h2> <%= event.name%></h2>
                        <%= link_to 'View Event', event_path(event) , class: "primary-font-color btn btn-dark"%>
                    </li>
                </ul>
            <% end %>
        <% end %>
    </div>
</div>