<div class="container mt-5">
    <h2> <%= @event.name %> </h2>
    <h3> Host: <%= @event.creator.username %> </h3>
    <h4>Description</h4>
    <div class="border p-3">
        <p> <%=@event.description %></p>
    </div>
    <br>
    <h4>Delegates</h4>
    <% if @event.attendees.count == 0 %>
        <h6> There are no delegates invited </h6>
    <%else%>
        <% @event.attendees.each do |at| %>
            <ul class="list-group">
            <li class="list-group-item"><%= at.username %></li>
            </ul>
        <% end %>
    <% end %>
    <br>

    <%= link_to '<- All Events ', events_path , class: "secondary-font-color"%>
</div>


