<!DOCTYPE html>
<html>
  <head>
    <title>DVNOevents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-dark text-white">
      <%= link_to 'DVNO Events ', new_user_path , class: "primary-font-color"%>
      <div>
        <% if current_user %>
          <span class="primary-font-color"><%= current_user.username %> </span>
          <%= link_to 'Log Out', logout_path, method: :delete, class: "primary-font-color" %> 
        <% else %>
          <%= link_to 'Log In', login_path, class: "primary-font-color" %>
          <%= link_to 'Sign Up', new_user_path , class: "primary-font-color" %>
        <% end %>
      </div>
    </nav>
      <% if flash[:alert] %>
        <div class="alert alert-danger" role="alert">
          <%= alert %>
        </div>
      <% end %>  
    <%= yield %>
  </body>
</html>
